@import url("/web/20061031204243cs_/http://www.liberation.fr/_looks/liberation/css/liberation_backoffice.css");
@import url("/web/20061031204243cs_/http://www.liberation.fr/_looks/liberation/css/liberation/liberation_base.css");
@import url("/web/20061031204243cs_/http://www.liberation.fr/_looks/liberation/css/liberation/liberation_rubriques.css");
@import url("/web/20061031204243cs_/http://www.liberation.fr/_looks/liberation/css/liberation/liberation_maquettes.css");
@import url("/web/20061031204243cs_/http://www.liberation.fr/_looks/liberation/css/liberation/liberation_modules.css");
@import url("/web/20061031204243cs_/http://www.liberation.fr/_looks/liberation/css/liberation/libe_mod_RSSReader.css");
@import url("/web/20061031204243cs_/http://www.liberation.fr/_looks/liberation/css/liberation/libe_mod_BA.css");
@import url("/web/20061031204243cs_/http://www.liberation.fr/_looks/liberation/css/liberation/libe_mod_Dossiers.css");
@import url("/web/20061031204243cs_/http://www.liberation.fr/_looks/liberation/css/liberation/libe_mod_BoitesMarrons.css");
/*
     FILE ARCHIVED ON 20:42:43 Oct 31, 2006 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 10:02:59 Jul 27, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.594
  exclusion.robots: 0.026
  exclusion.robots.policy: 0.015
  esindex: 0.01
  cdx.remote: 146.086
  LoadShardBlock: 500.308 (3)
  PetaboxLoader3.datanode: 112.0 (4)
  PetaboxLoader3.resolve: 494.291 (3)
  load_resource: 111.183
*/