/*---------------- elements principaux ---------------*/
/*---------------- les styles ci-dessous affectes l'ensemble des lments de la page n'ayant pas de style propre ou hrit --------------*/

/*fichier de structure général externe*/
@import url("/fdata/css/commonstruct2.css");/*ne pas enlever cette ligne qui permet l'evolution des css personnalisés*/
/***************************************/

body	{ margin:0px; padding:0px; background-image: url(/modele/233/pics/fond.png); font-family: Arial,Verdana,sans-serif; font-size:x-small;}

/*titre des pages*/
h1      { color:#F3A3A3; font-size: 20px }
h2      { color: #E69999; font-size: 10px;}
h3      { color: #E69999; font-size: 10px;}
/* liens des pages */
a { text-decoration:none; color:#FFF; font-size:110% }
a:hover { text-decoration:underline; color:#4C4C49 }
/* liens survoles*/
legend  { color:#FFFFFF; padding-left:5px; padding-right:5px; }
li      { list-style-type:none; color:#BBBDBE;} /*listes non ordonnees*/
/* images */
img     { border:0px none;}
.clear{padding:0px; margin:0px;}

/* boutons, champs texte */
input   { background-color:transparent; border:1px solid #000; color:#000; margin-bottom:2px;}



/* --------------- Structure -------------------- */
/* les styles ci dessous definissent l'aspect du blog quelque soit la structure (2-3 colonnes...)*/
#centrePage     { width:100%;}/*div contenant la page sert  centrer le blog*/
#global {padding:1px; margin-left:auto;  margin-right:auto; margin-top:21px; position:relative;  background-color:#666666;}/*colonne principale, contient toutes les colonnes du blog*/
#global a {color:#F3A3A3;}

#global a {color:#F3A3A3;}
#main 		{}/*colonne principale contenant les articles*/
#content 	{ overflow:hidden; margin:0px; color:#FFF;}/*contenu de la colonne main*/
#rightnav 	{ }/*colonne de droite*/
#leftnav 	{ }/*colonne de gauche*/

/********************************************************************************************************/
/*                GESTION DU POSITIONNEMENT SELON LES DIFFERENTES STRUCTURES                            */
/*------------------------------------------------------------------------------------------------------*/
/*/!\ Attention la modification des informations ci-dessous peut entrainer la dformation de votre blog */
/********************************************************************************************************/

#global	{width:800px; border: 2px solid #000;}/*definie la taille du blog*/

/*~~~~~~~~~~ structure 1 colonne principale + 1 colonne  droite~~~~~~~~~~*/
	#deuxColDroite #main	 { position:relative; float:left; overflow:hidden; width:595px; border-right: 1px dotted #969993;}/*colonne principale*/
	#deuxColDroite #rightnav { position:relative; float:right; margin-bottom:5px; width:195px;}/*colonne de droite*/

/*~~~~~~~~~~ structure 1 colonne principale + 1 colonne  gauche~~~~~~~~~~*/
	#deuxColGauche #main{ position:relative; float:right; overflow:hidden; width:595px; border-left:1px dotted #969993; }/*colonne principale*/
	#deuxColGauche #leftnav { position:relative; float:left; margin-bottom:5px;  width:195px;}/*colonne de gauche*/

/*~~~~~~~~~~ structure 1colonne  droite + 1 colonne principale + 1 colonne  gauche~~~~~~~~~~*/
	#troisCol #main{ position:relative; float:left; overflow:hidden; width:400px; border-right:dotted 1px #969993; border-left: dotted 1px #969993; padding:0px; margin-left:3px;}/*colonne principale*/
	#troisCol #rightnav{ position:relative; float:right; margin-bottom:5px; width:195px; }/*colonne de droite*/
	#troisCol #leftnav{ position:relative; float: left; margin-bottom:5px; width:195px;} /*colonne de gauche*/
/**************************************************************************************************************/

/* ------------------- Box -------------------- */
/*definie le style des modules*/
.box{ position:relative; margin-bottom: 5px; border:0px none;  background-color: #333333; padding-bottom:5px; border-bottom:1px solid #575151; margin-top:0px;}
.box h2{ color: #CC0000;  margin:0px; }
/*titre de la boite*/
.box-titre{ position:relative; background:#333333; padding-left: 20px; background-image:url(/modele/233/pics/cotes.png); background-repeat:no-repeat; text-align:left; background-position:5px 0px; border-bottom:2px solid #666666}/

/*div contenant le titre*/
.box-content {overflow:auto; padding:2px; color:#BBBDBE; background-color:#DDE3CF;}/*contenu du module*/
.box-content input {background-color:#BBBDBE; border: solid 1px #000; color:#333333; font-size:9px}
.box-content p   {  margin:5px 0px 5px 2px; padding:0px; color: #BBBDBE; background: transparent;}/*paragraphe*/
.box-content ul  { margin:5px 0px 5px 15px; padding:0px; color: #BBBDBE; background: transparent;}/*liste*/
.box-content li  { list-style: square; color:#BBBDBE;  margin:0px; padding:0px;}/*element d'une liste*/



#Presentation .box-content,#RightPart .box-content,#LeftPart .box-content,#aleaIm .box-content,#leftnav .box-content,#rightnav .box-content{color:#BBBDBE;}
/* ------------------entete ---------------------*/
#header { text-align:center;  margin:0px auto 5px auto;  position:relative; background-color:#666; color:#F3A3A3;}/*div contenant l'entete du blog*/
#top    { border: 3px solid #F3A3A3; font-size:20px;}/*entete du blog*/
#top h1 { padding:0px; margin:0px;}/*titre du blog /!\ modifiable*/
.topLien{text-decoration:none; color:#FFF}/*lien de l'entte vers la home du blog /!\ modifiable*/
.topLien:hover {text-decoration:underline; color:#FFF}/*lien de l'entete vers la home du blog survol /!\ modifiable*/

/* ---------------------Bas de page----------------*/
#footer { margin-top:10px;  position:relative; color:#FFF; background-color:#FFF; }/*pied de page du blog*/
#footer p { margin:0px; padding: 10px;}/*paragraphes du pied de page*/
.basLien{ text-decoration:underline}
.basLien:hover { text-decoration:underline}

/* ---------- Recherche ----------------------- */
#Recherche   {}
#Recherche h2 {}
#WForm       {margin:0px; border:0px none; padding:10px}
#WForm input {font-size:100%; text-align:center;  background-color:transparent; border:1px solid #FFF}
#WForm input:hover {background-color:#FFFFFF; }
.RNum  {font-weight:bold; }/*numero du resultat*/
.RDesc {padding:10px; }/*resume du resultat (premieres lignes de l'article)*/
.ROut  {font-style:normal; color:#4C4C49; }/*domaine auquel appartient le resultat*/
.RSize {color:#E610DE; }
a.RTitle       {text-decoration:none;}/*titre du resultat*/
a.RTitle:hover {text-decoration:none;}/*titre du resultat survole*/
#GGResults {text-align:left; margin:0px; color:#4C4C49; }/*nombre de resultats de la recherche*/
.Result1   {padding:4px; background:#F6A5EE; color:#4C4C49;}/*resultat style 1*/
.Result2   {padding:4px; color:#4C4C49}/*resultat style 2*/

/*------------------- Articles ----------------------------------*/
.article {margin:0px 8px 18px 8px; padding:0px;}/*style general d'un article (entete texte et pied)*/
.article p {color:#BBBDBE; margin-top:5px; margin-bottom:0px}/*tous les paragraphes composant un article*/
.contenuArticle { color:#BBBDBE;}/*style du texte d'un article*/
.Date {margin-left:5px; color:#E69999; font-weight:bold;}/*style de la date affichee dans l'entete de l'article*/
#articleSeul .contenuArticle{ border-top:1px solid #BBBDBE;}
.GcheTexte{float:left; margin:3px;}
.DrteTexte{float:right; margin:3px; }
.CtreTexte{margin:3px auto; display:block;}
.hitcitation {font-style:italic;color:#838383;text-align:justify;padding:5px 20px;background-color:#eee;}
.hitencart {border:1px solid black;text-align:justify;font-weight:bold;margin:5px 0px;padding:5px 5px;}
.hitimportant {font-weight:bold;color:#031D9E;font-weight:bold;font-size:120%;}
.hitperso1 {font-style:italic;}
.hitperso2 {font-weight:bold;}


/*--------------------Liste des articles-------------------------*/
.listArticles 	{ margin-top:15px ; padding-bottom:20px; border:0px none;}/*style d'un article*/
.resumeArticle 	{color:#BBBDBE;}/*style du resume d'un article*/


/*--------------------Commentaires---------------------------- */
.h2commentMessage { margin:5px; color:#BBBDBE; border-bottom: 1px solid #BBBDBE;}
.comment    {  }
.comment hr {  }
.linkcomment	{ margin:5px;font-size:130%; }/*lien d'ajout d'un commentaire*/
.commentMessage { margin:5px; border:1px dotted #FFF; background-color:#333333; color:#BBBDBE;}/*texte d'un commentaire*/
.reponseOption {margin:5px; border:1px dotted #FFF; text-align:right;}
.reponseMessage {text-align:right; background-color:#F3A3A3; color:#333;}
.commentOption 	{margin:5px; text-align:left; color:#BBBDBE; margin-bottom:10px; background-color:#333333; border:1px dotted #FFF; color:#BBBDBE;}/*infos sur le commentaire auteur site...*/
.Option{text-align:right; padding-top:10px;}
.nocomm{margin:5px;}


/*---------------formulaire de saisie d'un commentaire--------------*/
#formComment 			{background-color:#FFF; border:1px solid #969993; color:#BBBDBE; }
#formComment h2			{color:#F3A3A3;}
#formComment label 		{ width:70px;  }

/*texte associ aux champs de sasie*/
#formComment input { background-color:transparent;  border:1px solid #000;}

/* boutons, champs texte */
#formComment textarea	{ background-color:transparent;  border:1px solid #000;}/*zone de saisie de texte*/

/*-------------------trackback----------------------------------*/

/* cadre donnant l'adresse de trackback*/
#addTrackback 		{ margin:5px; color:#FFF; border:1px dotted #FFF; background-color:#333;}
.affTrackback 		{ padding:5px; color:#FFF; margin-bottom:10px;}/**/
.affTrackback h2 	{ color:#999A9B;}/**/
.linkTrackback 		{font-size:130%;}/*lien vers la fenetre d'ajout de trackback */
.h2Trackback 		{  margin:5px; color:#F3A3A3; border-bottom: 1px solid #BBBDBE}/**/

/*-----------------fenetre d'ajout d'un trackback---------------------*/
#divTrackBack			{background-color:#FFF; border:1px solid #000; color:#BBBDBE;}/*style general*/
#divTrackBack input 	{ background-color:transparent; border:1px solid #000;}/*champs de texte bouton*/
#divTrackBack textarea	{ background-color:transparent; border:1px solid #FFF; border:1px solid #000;}/*zone de saisie de texte*/
.nocomm{color:#BBBDBE; margin:5px;}


/*-------------------fenetre de recommandation---------------------------*/
#divRecommander {background-color: #FFF; border:0px none; color: #BBBDBE}/*style general*/
#divRecommander td {text-align:left;}
#divRecommander span{ font-size:larger; color: #626D13;}
#divRecommander legend{ font-size:larger; color: #666666;background-color:#F3A3A3}/*texte du cadre*/
#divRecommander fieldset{ padding:3px; margin:5px; background:#FFF; border:1px dotted #969993;}/*conteneur des champs*/
#divRecommander input{ background-color:transparent; border:1px solid #000}/*champs de texte bouton*/
#divRecommander textarea{ background-color:transparent; border:1px solid #000;}/*zone de saisie de texte*/

/*-----------------Newsletter-----------------------------------*/
#Newsletter h2 			{ color:#CC0000; text-align:left; }/*titre de la page*/
#Newsletter .box-content {color:#BBBDBE;}
#Newsletter input 		{ color:#4C4C49; border:1px solid #4C4C49;}/*champs de texte checkbox*/
#Newsletter .newsletter	{ color:#4C4C49}/*texte des checbox*/

#divNewsletter{background:#FFF;}


/* ---------------------Calendrier--------------------------------- */
.calendarTop1 	{  font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; color:#CC0000; font-weight: bold;  background-color: transparent; text-align:left;}/*entete*/
.calendarToday1 {font-family: Arial, Helvetica, sans-serif;background-color:#F3A3A3; font-size: 10px; text-align: center; font-weight: bolder; color:#FFF;}/* Aujourd'hui */
.calendarDays1 	{  width:50px; height: 15px; font-family: Arial,Verdana ,Helvetica, sans-serif; font-size: 10px; font-style: normal; color:#BBBDBE; text-align:center;  margin: 0px;  padding: 0px; }
.calendarHeader1{  font-family: Arial, Helvetica, sans-serif; font-size: 10px; color:#FFF; background-color:#F3A3A3; border: 1px solid #3F460A;} /* lettre de la semaine */
.calendarTable1 {  background:none; } /* contour du calendrier */

/*-----------------------Pagination-------------------------*/
.pagination { color:#F3A3A3;}
.pagination a {} /*Liens*/
.pagination b{ } /*Page courante*/

/*------------------------Divers-----------------------------*/
.cleaner {clear:both;}

/*-----------------------elements commun a l'accueil et aux pages d'un album------------------------------*/
#bodyAlbum{}/*style general de la page de l'album*/
#generalAbum{}/*div contenant tout l'album peut etre utilise  la place de bodyAlbum*/
#topAlbum{background-color:#666666;}/*entete de l'album contient l'entete du blog*/
#enteteAlbum{width:99%;margin-right:auto; margin-left:auto;font-size:130%; color:#FFF; background-color:#BBBDBE;}/*ligne sous l'entete du blog contient les liens vers les albums*/
#enteteAlbum a {text-decoration:none;}
#enteteAlbum a:hover {text-decoration:underline;}
.lienAlbum {text-decoration:none; color:#666666;}
.lienAlbum:hover{text-decoration:underline; color:#666666;}
#piedAlbum{ width:99%;margin-right:auto; margin-left:auto;text-align:center; margin-top:5px; color:#CC0000; background-color:#BBBDBE;}/*pied de page de l'album*/
#piedAlbum a {text-decoration:none; color:#575151;}
#piedAlbum a:hover {text-decoration:underline; color:#666666;}
.h2Album { text-align:center; font-size:12pt; color:#666666;}/*titre de l'album/la photo*/
#bodyAlbum {width:96%;margin-right:auto; margin-left:auto;}
.topLienAlbum{text-decoration:none; color:#F3A3A3;}/*lien vers un album*/
.topLienAlbum:hover{color:#E69999;}/*lien survole*/


/*-------------------------------Accueil album------------------------*/
#centreAccAlbum{}/*contient les thumbnails de l'accueil de l'album (non utilise)*/
.AccAlbum{text-align:center; width: 99%; background-color:#FFF; border: dotted 2px #969993;margin-right:auto; margin-left:auto;}/*contient les thumbnails de l'accueil de l'album*/
.thumbAccAlbum { display:inline; margin:5px;}/*div contenant une miniature*/
.thumbAccAlbumimg { padding:5px 0px; border:2px solid #E69999}/*miniature*/


/*-----------------------Album photo--------------------------*/
.nomPhotoAlbum { font-size:large; color:#666666; text-align:center;}/*nom de la photo affiche*/
#descrAlbum{color:#F3A3A3; text-align: center;}
.quickNavAlbum{margin:0px; padding:0px; width:100%; color:#FFF; text-align:center;}/*liens de navigation rapide (precedent suivant retour)*/
.quickNavAlbum a {text-decoration:none; color:#F3A3A3;} /*liens de la navigation rapide*/
.quickNavAlbum a:hover {text-decoration:underline;}/*liens survole de navigation rapide*/
.precAlbum{ float:left; text-decoration:none; position:relative; padding:0px; margin:0px;}/*liens et titre photo precedente*/
.suivAlbum{ float:right;  text-decoration:none; position:relative; padding:0px; margin:0px;}/*liens et titre photo suivante*/
.retourAlbum{ position:relative;  text-decoration:none; padding:0px; margin:0px auto; width:6em; color:#D9E869;}/*liens de retour album photo*/
#centrethumbsAlbum{}/*contient les miniatures de l'accueil de l'album (non utilise)*/
.thumbsAlbum { width:100%; background-color:#FFF; padding:2px;text-align:center; margin-right:auto; margin-left:auto;border: 2px dotted #969993}/*miniatures de l'album contient toutes les miniautures*/
.thumbAlbum { display:inline; margin:3px;}/*div contenant une miniature*/
.thumbAlbum img { border:1px solid #F3A3A3;}/*miniature*/
.thumbCouranteAlbum { display:inline; margin:3px;}/*div contenant la miniature de la photo courante*/
.thumbCouranteAlbum  img { border:2px dotted #F3A3A3;}/*miniature de la photo courante*/
#photo{ text-align:center;width:100%;background-color:#FFF; margin-right:auto; margin-left:auto; border:dotted 2px #969993}/*div contenant la photo courante*/
#photo img {margin: 2px auto; border:2px solid #F3A3A3; background-color: #000000}/*photo courante*/
/*style du pied de l'article (publie par, categorie, commentaire,recommander)*/
.barreHautArticle { margin:0px 0px 5px 0px; margin:0px; width:100%; }/*entete du blog contient la date*/
.categorieArticle { color:#999A9B;} /*categorie de l'article*/
.categorieArticle a { text-transform:lowercase;}/*lien sur la categorie de larticle*/
.categorieArticle a:hover { text-transform:lowercase;}/*lien survole sur la categorie de larticle*/
.titreArticle	{margin-left:5px; font-family: Time-News Romans;font-size: 15px; text-decoration:none; color:#F3A3A3}/*lien sur le titre de l'article*/
.titreArticle:hover {font-family: Time-News Romans; text-decoration:underline; color:#F3A3A3}/*lien survole sur le titre de l'article*/
#reglementBlog{margin:5px;}
#liensReglement {margin:5px;}
#articleSeul {} /*style d'un article lors de l'affichage de l'article avec commentaires/trackbacks*/

/*---bouton droit souris*/
#menuClicDroit {position:absolute; top:0px; left:0px; z-index:500; visibility:hidden; border:1px solid #000; padding:3px; background-color:#333;}
#menuClicDroit li { list-style-type:none; margin:0px; padding:0px}
#menuClicDroit ul{margin:0px;padding:0px}
#menuClicDroit span{display:block; margin-top:5px; margin-bottom:1px;}