/* <![CDATA[ */

/* ---------- Elements Principaux ------------- */
body    { margin:0px; font-family: Verdana, Helvetica, Arial, sans-serif; font-size:9px; background-color:#74878D;}
h1      { color: #5675A4; font-size: 17px;}
h2      { color: #5675A4; font-size: 14px; }
h3      { color: #5675A4; font-size: 11px; }
h3 #plusGros {font-size:120%}
a 	    { text-decoration:underline; color:#5675A4; font-size:110%; }
a:hover { text-decoration:none; color:#9E9E9E}
legend  { color:#5675A4; padding-left:5px; padding-right:5px;}
li      { list-style-type:none;}
img     { border:0px;}
input   { border:solid 1px #5675A4; font-size:100%; background:#FFFFFF; color:#5675A4; }
.submit   { background : url(/pics/share/submit_form.png) no-repeat top left; border:0px; height:20px; weight:100%; font-weight:bold; cursor:pointer;}
select   { border:solid 1px #D8D7D7; font-size:100%; background:#FFFFFF; color:#5675A4; }
option.grey { color:red;}
.floatL { float:left;}
.floatR { float:right;}
.clear  { clear:both;}
.nomargin {margin:0px;}
.nopadding{padding:0px;}
.center {text-align:center;}
.w100prct {width:100%}
.w20prct {width:20%;}
.w80prct {width:80%;}
.GcheTexte{float:left; margin:3px;}
.DrteTexte{float:right; margin:3px; }
.CtreTexte{margin:3px auto; display:block;}


/* ---------- Structure ---- */
#main    { width:880px; text-align: left; margin: 0px auto 50px auto;}
#container    {	width:880px;text-align:left;margin:0px auto;top:0px;background-color:white;}
#main h2 { padding:0px; margin:0px; font-size:130%;}

#top     { padding:5px; background-color:#F8F8F8; border-bottom:1px solid #B8B8B8; }
#top h1  { padding:0px; margin:0px; }

#rightnav { float:right; padding:0px;margin:0px }
#leftnav  { float:left; padding:0px;margin:0px }

#content  {	float:left;	width:462px;height:auto;padding:10px 4px 4px 4px;}
#content p {padding:0px;}


#left {float:left;width:205px;padding: 0px;margin-top:10px;}
#right {float:right;width:200px;padding: 0px;margin-top:10px;}

#Info {  border:1px solid #000;float:right;padding:6px; width:186px;margin-top:10px;margin-right:6px;background:#FBD883 url(/pics/www/bulle2.png) no-repeat top left;font-size:95%; }
#Info H3 { padding-left:40px;padding-top:5px;color:#F68404;font-size:150%}
.listeComplete {padding:4px;border-top:1px dotted #999999;border-bottom:1px dotted #999999;}
.listeComplete img {padding-left:70px}
.listeComplete a {text-decoration:none;font-weight:bold}

#header   {clear:both;border:1px solid gray;top:0px;background-color: #FDE8BA;margin:2px 3px 0px 2px}
#footer   { clear:both; height:15px;color: black;background-color:#FDEBC1;font-weight:bold;text-align:center; border-top: 1px solid gray;border-bottom: 1px solid dotted;margin:0px 0px 20px 0px; }
#main1 {padding:0;width: 880px;}
#main2 {margin:0; padding:0;width: 880px;}
.column-in {margin:0;float: none;}
.cleaner {clear:both; height:1px;font-size:1px;border:none;margin:0; padding:0;background:transparent;}



.imp,.imp a {color:red; font-weight:bold;}

/* ---------- Box ----------*/
.box             {}
.box-top         { background : transparent url(/pics/www/box-top-center.png) repeat-x scroll top left;width:200px;margin-bottom:5px;}
.box-left        { background : transparent url(/pics/www/box-middle-left.png) repeat-y scroll top left;}
.box-right       { background : transparent url(/pics/www/box-middle-right.png) repeat-y scroll top right;}
.box-bottom      { background : transparent url(/pics/www/box-bottom-center.png) repeat-x scroll bottom left;width:200px;}
.box-topLeft     { background : transparent url(/pics/www/box-top-left.png) no-repeat scroll top left;}
.box-topRight    { background : transparent url(/pics/www/box-top-right.png) no-repeat scroll top right;}
.box-bottomLeft  { background : transparent url(/pics/www/box-bottom-left.png) no-repeat scroll bottom left;}
.box-bottomRight { background : url(/pics/www/box-bottom-right.png) no-repeat scroll bottom right; padding:0px;}
.box-content     { overflow:auto; padding:0px 0px 15px 5px;}
.box-content p   { margin:5px 0px 5px 15px; padding:0px; }
.box-content ul  { margin:0px 0px 10px 10px; padding:0px; }
.box-content li  { list-style:square; color:#b6b6b6; margin:2px 2px 2px 5px; padding:0px; }
.box-titre       {font-size:10px;margin-left:3px;margin-right:4px;height:15px;padding:2px 0px 3px 5px;color:#1F4180}

/* ---------- Box 2---------- */
.box2             {}
.box2-topCenter   { background : transparent url(/pics/www/box-top-center.png) repeat-x scroll top left;margin-left:3px;margin-right:4px;height:15px;padding:4px 0px 3px 5px;vertical-align: middle;font-size:11px;color:#1F4180}
.box2-topLeft     { background : transparent url(/pics/www/box-top-left.png) no-repeat scroll top left;}
.box2-topRight    { background : transparent url(/pics/www/box-top-right.png) no-repeat scroll top right;}
.box2-topCenter h1 {font-size:100%;margin:0px 0px 0px 0px;color:#1F4180}

/* ---------- Box ---------- */
.box3             {}
.box3-top         { background : transparent url(/pics/www/box3-top-center.png) repeat-x scroll top left;width:200px;margin-bottom:5px;}
.box3-left        { background : transparent url(/pics/www/box-middle-left.png) repeat-y scroll top left;}
.box3-right       { background : transparent url(/pics/www/box-middle-right.png) repeat-y scroll top right;}
.box3-bottom      { background : transparent url(/pics/www/box-bottom-center.png) repeat-x scroll bottom left;width:200px;}
.box3-topLeft     { background : transparent url(/pics/www/box3-middle-left.png) no-repeat scroll top left;}
.box3-topRight    { }
.box3-bottomLeft  { background : transparent url(/pics/www/box-bottom-left.png) no-repeat scroll bottom left;}
.box3-bottomRight { background : url(/pics/www/box-bottom-right.png) no-repeat scroll bottom right; padding:0px;}
.box3-content     { overflow:auto; padding:1px 4px 5px 3px;}
.box3-content ul  { margin:0px; padding:5px;background:#FEF7E6; }
.box3-content li  { border-bottom:1px gray dotted;list-style-type:none;padding:3px;margin-top:2px; }


/* ---------- Recherche --- */
#Recherche   { padding:0px; }

#WForm       { margin:0px; border:solid 1px #D8D7D7; padding:10px; background: #F3F7FC; }
#WForm input { border:solid 1px #D8D7D7; font-size:100%; background:#FFFFFF; color:#5675A4; }
.RNum  { font-weight:bold; }
.RDesc {  }
.ROut  { font-style:italic; color:#A0B8CB; }
.RSize { color:#BFBFBF; }

a.RTitle       { text-decoration:none; color:#00275E; }
a.RTitle:hover { text-decoration:none; color:#834141; }

#GGResults   { text-align:left; margin:0px; color:#000000; }
.Result1     { padding:4px; background:#F7FAFD; }
.Result2     { padding:4px; background:#FBFBFB; }

.firstletter {font-family: Verdana;}
.firstletter:first-letter { font-size: 170%;}

#intro {border:1px dotted #999999;background:#FEF7E6;padding:5px;margin:5px;}
#intro ul{margin:10px;padding:3px;}
#intro li{list-style:square;}
#actu {width:150px;margin-top:5px;}
.news {float:left;border:1px dotted #999999;background:#F9F8FA;padding:5px;margin:5px; width:125px; overflow:hidden;}
.annuaire {float:left;border:1px dotted #999999;background:#F9F8FA;padding:5px;margin:5px; width:440px; overflow:hidden;}
/*.news {border:1px dotted #999999;background:#F9F8FA;padding:5px;margin:5px;}*/
#pubcat {float:left; margin:5px 5px;}
#pubActu {margin-top:5px;margin-right:5px;margin-bottom:5px;}

#mainCoupCoeur{border:1px dotted #999999;background:#F9F8FA;padding:5px;margin:5px; height:auto;}
.coupCoeur {padding-top:5px;}
.coupCoeur div{padding-left:5px;}
.coupCoeur img , .xtrtInterview img {border:1px solid black;}
.cdcw {width:155px}
.cdcw {width:155px}

/* tableau */

.TDleft  { text-align:left; color:#004D71;}
.TDright { text-align:right; font-weight:bold; width:300px; }

table.clFlatTable   { border:1px solid  #000000; border-collapse: collapse; }

.clRowHeaderSup     { background: #336799; border: solid 1px #000000; color: #FFFFFF; font-weight: bold }
.clRowHeaderSup td  { font-family: Verdana, Arial, Tahoma; font-size: 8pt; border: solid 1px #000000; color: #FFFFFF; font-weight: bold }

.clRowHeaderSup2    { background: #FFFFFF; border: solid 1px #000000; color: #336799; font-weight: bold }
.clRowHeaderSup2 td { font-family: Verdana, Arial, Tahoma; font-size: 8pt; border: solid 1px #000000; color: #336799; font-weight: bold }

.clRowHeader        { background: #003375; border: solid 1px #000000; color:white; font-weight:bold; }
.clRowHeader td     { border: solid 1px #000000; color: white; font-weight: bold }
.clRowHeader a      { color: yellow; text-decoration: none }
.clRowHeader a:visited { color: yellow; text-decoration: none }
.clRowHeader a:hover   { color: red }
.clRowHeader a:active  { color: red }

.clRowDark             { background:#E8EEF4; border:solid 1px #7F9DB9; }
.clRowDark td          { border: solid 1px #7F9DB9; padding:3px; }
.clRowDark a           { color: #01389B; text-decoration: none }
.clRowDark a:visited   { color: #01389B; text-decoration: none }
.clRowDark a:hover     { color: red }
.clRowDark a:active    { color: red }

.clRowLight            { background: #F7F9FE; border: solid 1px #7F9DB9; }
.clRowLight td         { border: solid 1px #7F9DB9; padding:3px; }
.clRowLight a          { color: #01389B; text-decoration: none }
.clRowLight a:visited  { color: #01389B; text-decoration: none }
.clRowLight a:hover    { color: red }
.clRowLight a:active   { color: red }


.clRowWhite            { background: #FFFFFF; border: solid 1px #7F9DB9; }
.clRowWhite  td         { border: solid 1px #7F9DB9; padding:3px; }
.clRowWhite  a          { color: #01389B; text-decoration: none }
.clRowWhite  a:visited  { color: #01389B; text-decoration: none }
.clRowWhite  a:hover    { color: red }
.clRowWhite  a:active   { color: red }


/*FAQ*/
.faqcontenu {padding: 3px; border-color: #999999; border-style: solid; border-width: 1px; background-color: #F7F7F7; margin-bottom:15px; }
.faqtitre { padding:0px; margin-bottom:5px;color: #99CCFF; font-weight: bold; vertical-align: middle; decoration:none; text-decoration: none; height:20px; font-size:130%;}
.faqtitre img {margin:0px; padding:0px; border-width:0px;}
.faqtitre a:link {text-decoration:none;}
.faqtitre a:hover {text-decoration:none;}
.faqtitre a:visited {text-decoration:none;}

.articleCGU {
	font-weight: bold;
	text-transform: uppercase;
	color: #FFCC33;
}

/*----------Interview----------------*/
.pubInterview {margin:3px 0px 3px 3px; float:right;}
.plusInterview {float:right;}
.retourListeInterview{text-align:right; margin:5px auto;}

#dateInterview {font-size:10px; color:#999999;}
#titreInterview h2,#titreInterview {margin:0px auto 3px 0px;}
#texteInterview {margin:10px auto; font-size:12px;}
#autresInterview {clear:both; margin-top:5px;}
#txtInterview {border-bottom:1px solid #666;}

.xtrtInterview  .separNomDescr {display:inline;}
.xtrtInterview img {float:left; border:0px none; margin:0px 5px 3px 0px; border:1px solid black;}
.xtrtInterview0 {width:45%; float:left; padding:5px;}
.xtrtInterview1 {width:42%; float:right; padding:5px;}

.moreInt {margin-left:5px;}

.xtrtInterview1Col{margin-bottom:20px;}
.xtrtInterview1Col img {float:left; border:0px none; margin:0px 5px 3px 0px; border:1px solid black;}
/*----------Inscription-------------*/
.saisieIns {display:block; clear:both; height:2.5em;}
.labelInput {float:left; width:18em; font-weight:bold;}
.inputIns {float:left; margin-left:2em; }
.motInscr {padding:3px;  margin:5px 0px; font-size:12px;}

/*----------Aide Inscription----------*/
#aideInsTxt{background-color:#FFFFFF; width:95%; height:240px; margin:auto; border:1px dashed #FDE8BA;}
#aideInsGen{width:100%; height:250px; margin:0px; background-color:#74878D; padding:5px 0px; overflow:auto;}

/*-----------popups---------------------------*/
#formComment {width:400px; margin:10px auto; padding:10px; height:auto !important; min-height:380px; height:380px;}
#formComment #Texte {width:100%;}
#formComment #divTexte {margin-top:5px;}

#formComment .floatL ,#divRecommander .floatL{width:30%; margin-top:5px;}
#formComment .floatR ,#divRecommander .floatR{width:70%; margin-top:5px; padding:0px;}

#divTrackBack .floatL{width:40%; margin-top:5px;}
#divTrackBack .floatR{width:60%; margin-top:5px; padding:0px;}

#divTrackBack {width:450px; margin:10px auto; padding:10px; height:auto !important; min-height:320px; height:320px;}
#divTrackBack #divExcerpt {margin-top:5px;}
#divTrackBack #excerpt {width:100%; }

#divRecommander {width:450px;margin:10px auto; padding:10px; height:auto !important; min-height:510px; height:510px; }
#divRecommander #Texte {width:100%;}
#divRecommander .submit {margin-top:10px;}

#divNewsletter {width:430px; margin:10px auto; padding:10px; height:auto !important; min-height:250px; height:250px; }
#divNewsletter .legalNotice {color:#B5B5B5;}
#divNewsletter .floatL,#divNewsletter .floatR{ margin-top:5px;}



.styledLi{list-style:disc;}
.capitalize {text-transform:capitalize;}
.hitSubmit {cursor:pointer;}

/*telecharger firefox*/
#dwnFirefox img {border:1px solid #BEBEBE;}
/* ]]> */